

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  
  @keyframes pop-up {
    0% {
      transform: scale(0.95) translateY(20px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  
  
  @keyframes scale-in {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  
  .animate-scale-in {
    animation: scale-in 0.8s ease-out forwards;
  }
  
  @keyframes float-up {
      from {
        opacity: 0;
        transform: translateY(40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    @keyframes slide-in-left {
      from {
        opacity: 0;
        transform: translateX(-60px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    @keyframes slide-in-up {
      from {
        opacity: 0;
        transform: translateY(60px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @keyframes slide-down {
      from {
        opacity: 0;
        transform: translateY(-40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .animate-slide-down {
      animation: slide-down 0.8s ease-out forwards;
    }
    
    
    @keyframes zoom-in-fade {
      from {
        opacity: 0;
        transform: scale(0.9);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    .animate-fade-in {
      animation: fade-in 1s ease-out forwards;
    }
    
  
    
    .animate-pop-up {
      animation: pop-up 0.6s ease-out forwards;
    }
    
    .animate-float-up {
      animation: float-up 1s ease-out forwards;
    }
    
    .animate-slide-in-left {
      animation: slide-in-left 1s ease-out forwards;
    }
    
    .animate-slide-in-up {
      animation: slide-in-up 1s ease-out forwards;
    }
    
    .animate-zoom-in-fade {
      animation: zoom-in-fade 1s ease-out forwards;
    }
    
  